/* Add these styles to your existing stylesheet */

/* Policies Component Styles */
.policies-container {
    max-width: 800px;
height: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .policy-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .policy-card {
    flex: 1 1 30%;
    background-color: #3498db; /* Blue background */
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .policy-card h3 {
    margin-bottom: 10px;
  }
  
  .view-full-button {
    background-color: #333; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .view-full-button:hover {
    background-color: #959595; /* Darker green on hover */
  }
  