/* SignUpPage.css

.text-center {
  text-align: center;
}

.m-5-auto {
  margin: 5rem auto;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
}

form {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #555;
  display: block;
}

input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ddd;
  margin-bottom: 1.5rem;
}

#checkbox {
  width: 1rem;
}

#sub_btn {
  width: 100%;
  padding: 1rem;
  border: none;
  background: #3498db;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#sub_btn:hover {
  background: #2980b9;
}

footer {
  margin-top: 2rem;
}

footer p {
  font-size: 1rem;
  color: #777;
  margin-bottom: 1rem;
}

footer a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #2980b9;
} */
